@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body {
  background: url('../imges/bg2.png');
  background-position: center;
  margin-top: 0px;
  background-repeat: no-repeat;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-color:rgb(232, 231, 243);

}

.logo-img {
  width: 100px;
}

.background {
height: 100px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px gray;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color:#0066ff;
  text-underline-position: below;
}

.background-head {


}

.head {
      font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-align: center;
  margin-top: 100px;
  margin-left: 30px;
}

.text {
  width: 450px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-left: 450px;
}


.head-img {
  transform: rotateX();
}

.imghead {
  background-color: #f7d0e1;
  box-shadow: 0 0 3px 1px #f15398;
}

.head-btn {
  padding: 10px 20px;
  width: 200px;
  border: none;
  background-color: #fff;
  color: #000;
  margin:auto;
  display: block;
  border-radius: 10px;
}
.head-btn:hover{
  background-color: #fff;
  color: #000;
  width: 250px; 
  box-shadow: 0 0 5px 1px #000;
}


.head1 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: #f15398;
  text-align: center;
}


.footer-basic {
padding:40px 0;
background-color:#080808;
color:#fff;
}

.footer-basic ul {
padding:0;
list-style:none;
text-align:center;
font-size:18px;
line-height:1.6;
margin-bottom:0;
}
.icon{
font-size:24px;
width:40px;
height:40px;
line-height:40px;
display:inline-block;
text-align:center;
border-radius:50%;
border:1px solid #ccc;
margin:0 8px;
}

.footer-basic li {
padding:0 10px;
}

.footer-basic ul a {
color:inherit;
text-decoration:none;
opacity:0.8;
}

.footer-basic ul a:hover {
opacity:1;
}

.footer-basic .social {
text-align:center;
padding-bottom:25px;
}

.footer-basic .social > a {
font-size:24px;
width:40px;
height:40px;
line-height:40px;
display:inline-block;
text-align:center;
border-radius:50%;
margin:0 8px;
color:inherit;
opacity:0.75;
}

.footer-basic .social > a:hover {
opacity:0.9;
}

.footer-basic .copyright {
margin-top:15px;
text-align:center;
font-size:13px;
color:#aaa;
margin-bottom:0;
}
.category-head{margin-top: 50px;
  color: #0066ff;
  font-size: 45px;
  font-weight: 900;
margin-left: 40px;}
.category-product{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 400px;

  background-color: #fff;
}
.category-img{
  display:inline-block;
  margin: 10px;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 5px 0px #4e4e4e;
  transition: transform 0.3s ease, filter 0.3s ease;


}
.category-img:hover{
  transform: translateX(10px) translateY(10px); /* Moves the image */
  filter: brightness(1.2); /* Optional: to brighten the image on hover */
  box-shadow:0 0 10px 0px #0066ff;

}
.top-brand{
  margin-top: 50px;
  font-size: 35px;
  font-weight: 600;
  display:flex;
  align-items: center;
  justify-content: center;

  margin-left:20px;
}
.top-brand-head{
  margin-top: 60px;
  font-size: 40px;
  font-weight: 600;
  color: #0066ff;
  text-align: center;
  margin-left: 20px;
}



.brand-img{
  margin: 10px;
  height: 100px;
  border-radius: 50%;
  width: 100px;
  box-shadow: 0 0 5px 0px #4e4e4e;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.contentproduct{
  background-color: #fff;
  box-shadow:0 0 5px 0px #bbcaee;

}
.best-product{
  margin-top: 250px;
  font-size: 35px;
  font-weight: 600;

  margin-left: 20px;
}
.best-product-head{
  margin-top: 50px;
  font-size: 45px;
  font-weight: 900;
  color: #0066ff;
  margin-left: 20px;
}
.product{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 400px;
}
.product-img{
  display:inline-block;

  margin: 10px;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 5px 0px #4e4e4e;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.product-img:hover{
  transform: translateX(10px) translateY(10px); /* Moves the image */
  filter: brightness(1.2); /* Optional: to brighten the image on hover */
  box-shadow:0 0 10px 0px #0066ff;
}
.btn{
  background-color: #0066ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  margin: 10px auto;

}
.pinfo{
   
    position: absolute;
    margin-left: 20px;
    bottom: 0;
   background-color: #fff;
    color: #f1f1f1;
    width: 300px;
    transition: .5s ease;
    opacity:0;
    color: #0066ff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }

  
  .content{
    position: relative;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .content:hover .pinfo {
    opacity: 1;
   
  }